@import "./node_modules/bootstrap/scss/bootstrap.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100%;
}
.cover_pag {
  height: 34em;
  object-fit: fill;
  opacity: 80%;
}

.card img {
  height: 12em;
}

.container_cards {
  width: 100%;
}
.p-1 {
  gap: 1em;
}
.card .text-white img {
  height: 111px;
}
.btn {
  margin-left: 60%;
}
.icons_fot {
  padding-left: 60rem;
  padding-top: 2rem;
}
.copright_line {
  padding-top: 2rem;
}

@include media-breakpoint-only(xs) {
  .navbar .cover_img {
    width: 100%;
  }
  .container_cards {
    flex-direction: column;
  }
}
@include media-breakpoint-only(sm) {
  .navbar .cover_img {
    width: 100%;
  }
  .container_cards {
    flex-direction: column;
  }
}
@include media-breakpoint-only(md) {
  .navbar .cover_img {
    width: 100%;
  }
  .container_cards {
    flex-direction: column;
  }
}
@include media-breakpoint-only(lg) {
  .navbar .cover_img {
    width: 100%;
  }
  .container_cards {
    flex-direction: column;
  }
}
